<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is the home page</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ducimus animi illum reprehenderit ratione, quae suscipit minima! Quod facilis, quam exercitationem rerum, repellendus ex veniam amet dignissimos at, laboriosam blanditiis?</p>
</body>
</html>