<% layout('layouts/boilerplate') %>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <style>
        body, html {
            margin: 0;
            color: #000;
            font-family: Arial, sans-serif;
            background: linear-gradient(132deg, #fff, #88d5ed, #7fb7d6);
            background-size: 400% 400%;
            animation: Gradient 10s ease infinite;
        }

        @keyframes Gradient {
            0% {
                background-position: 0% 50%
            }
            50% {
                background-position: 100% 50%
            }
            100% {
                background-position: 0% 50%
            }
        }

        header {
        display: flex; /* Added to make the content within the header flex items */
        justify-content: center; /* Center the flex items horizontally */
        align-items: center; /* Center the flex items vertically, not mandatory but makes it perfectly centered */
        width: 100%; /* Ensuring the header takes the full width of the viewport */
        }


        .logo {
            width: 25rem;
            height: auto;
        }

        .profile-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            margin: 10px auto;
            width: 50%;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        .profile-title {
            color: #0070ad;
            margin-bottom: 10px;
        }

        a {
            color: #fff;
            background-color: #0070ad;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
            margin-top: 10px;
            display: inline-block;
        }

        a:hover {
            background-color: #11acdb;
        }

        .logout {
            color: #fff;
            background-color: #0070ad;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
            position: fixed;
            top: 10px;
            right: 10px;
        }

        .logout:hover {
            background-color: #11acdb;
        }
    </style>
</head>

<body>

    <a href="/logout" class="logout">Logout</a>

    <header>
        <img src="/capgeniusLogo.png" alt="Capgenius Logo" class="logo">
    </header>

    <div class="profile-container">
        <h2 class="profile-title"><%= user.firstname + ' ' + user.surname %></h2>
        <h5>Current Job Title: <%= user.introduction %></h5>
        <p>User Experience: Placeholder</p>
        <small class="text-muted">Other Info: Placeholder</small>
        <br>
        <a href="/profiles">All Profiles</a>
    </div>

</body>
</html>
